.editor-box {
  box-sizing: border-box;
  width: 100%;
  word-wrap: unset;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  font-family: simhei, 宋体;
  &:not([proTitle="true"]) {
    border: 1px solid #000;
    padding: 10px 15px;
  }
  &[proTitle="true"] {
    position: relative;
    .row {
      overflow: hidden;
    }
    .del {
      cursor: pointer;
      position: absolute;
      right: 10px;
      color: red;
      font-weight: bold;
      top: 4px;
      display: none;
      border-radius: 50%;
      background: #e1e1e1;
      font-size: 12px;
      padding: 1.5px;
      &:hover {
        background: #aaa;
      }
    }
    &:focus {
      background: #eaf0f8;
      .del {
        display: block;
      }
    }
  }
  * {
    vertical-align: unset;
  }
  div {
    white-space: nowrap;
  }
  &:not(:first-child) {
    margin-top: 10px;
  }
  .row {
    line-height: 25px;
    font-size: 14px;
    .opts {
      display: inline-block;
      .opt-item {
        display: inline-block;
        width: 32px;
        height: 21px;
        text-align: center;
        font-size: 12px;
        letter-spacing: 2px;
      }
    }
  }
  .image-file-box {
    position: absolute;
    top: 10px;
    z-index: 99;
    cursor: all-scroll;
    height: auto;
    display: inline-block;
    .image-file {
      display: block;
    }
    .bottom-right {
      width: 15px;
      height: 15px;
      background: transparent;
      display: inline-block;
      position: absolute;
      border-top: 7.5px solid rgba(0, 0, 0, 0);
      border-right: 7.5px solid #a1a1a1;
      border-left: 7.5px solid rgba(0, 0, 0, 0);
      border-bottom: 7.5px solid #a1a1a1;
      box-sizing: border-box;
    }
    .bottom-right {
      bottom: 0;
      right: 0;
      cursor: se-resize;
    }
  }
  .active {
    border: 1px dashed #000;
  }
}

.editor-box[type="write"] {
  // background: #000;
  padding: 10px 0px;
  text-align: center;
  .row {
    width: auto;
    padding-top: 8px;
    margin: 0px auto 0;
    height: 32px;
    line-height: 32px;
    .write-item {
      border-left: 1px solid #000;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      width: 32px;
      height: 32px;
      box-sizing: border-box;
      display: inline-block;
      margin: 0;
      &:last-child {
        border-right: 1px solid #000;
      }
    }
  }
}

.editor-box[type="select"] {
  padding: 0;
  .row {
    line-height: normal;
    .sel-item {
      line-height: 18px;
      display: inline-block;
      box-sizing: content-box;
      border-right: 1px solid #000;
      font-size: 1px;
      .pnum {
        line-height: 18px;
        font-size: 12px;
        display: inline-block;
        width: 47px;
        text-align: right;
      }
      .opts {
        box-sizing: border-box;
        display: inline-block;
        font-size: 1px;
        .opt-item {
          color: #888;
          display: inline-block;
          text-align: center;
          width: 28px;
          font-size: 12px;
          height: 18px;
          letter-spacing: 1px;
          &:first-child {
            margin-left: 2px;
          }
        }
      }
    }
    &:nth-child(5n + 5):not(:last-child) {
      border-bottom: 1px solid #000;
      .sel-item {
        padding-bottom: 7.5px;
      }
    }
    &:last-child {
      .sel-item {
        padding-bottom: 7.5px;
      }
    }
    &:nth-child(5n-4) {
      .sel-item {
        padding-top: 7px;
      }
    }
  }
  & {
    * {
      vertical-align: top;
    }
  }
  &:not(:first-child) {
    margin-top: 15px;
  }
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
