.select-box {
  width: 100%;
  height: auto;
  margin: 20px 0;
  border: 1px solid #000;
  box-sizing: border-box;
  .sel-group-box {
    box-sizing: border-box;
    .sel-group {
      box-sizing: border-box;
      padding: 7px 0 7.5px 0;
      float: left;
      &:not(:first-child) {
        border-left: 1px solid #000;
      }
      .sel-group-row {
        box-sizing: border-box;
        line-height: 21px;
        font-size: 12px;
        .pnum {
          display: inline-block;
          width: 60px;
          text-align: right;
        }
        .opts {
          box-sizing: border-box;
          display: inline-block;
          .opt-item :first-child {
            margin-left: 5px;
          }
          .opt-item {
            text-align: center;
            width: 32px;
            font-size: 12px;
            height: 21px;
            display: inline-block;
            letter-spacing: 2px;
          }
        }
      }
    }
    &::after {
      display: table;
      content: "";
      clear: both;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #000;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
  &:first-child {
    margin-top: 0;
  }
}
