body {
  margin: 0;
}
#contentText {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: #fff;
  border: 1px solid #a1a1a1;
  display: none;
  cursor: pointer;
  font-size: 14px;
  width: max-content;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      padding: 3px 10px;
      &:not(:last-child) {
        border-bottom: 1px solid #a1a1a1;
      }
      &:hover {
        background: #e1e1e1;
      }
    }
  }
}
.secondList {
  position: absolute;
  left: 90px;
  top: 77px;
  border: 1px solid #a1a1a1;
  display: none;
  width: max-content;
  font-size: 14px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      padding: 3px 10px;
      &:not(:last-child) {
        border-bottom: 1px solid #a1a1a1;
      }
      &:hover {
        background: #e1e1e1;
      }
    }
  }
}
.threeList {
  position: absolute;
  left: 167px;
  top: 129px;
  border: 1px solid #a1a1a1;
  display: none;
  width: max-content;
  font-size: 14px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      padding: 3px 10px;
      &:not(:last-child) {
        border-bottom: 1px solid #a1a1a1;
      }
      &:hover {
        background: #e1e1e1;
      }
    }
  }
}
.page {
  margin: 0 auto;
  background: #fff;
  padding: 70px 40px;
  box-sizing: border-box;
  position: relative;
  .colum {
    padding: 0 15px;
    box-sizing: border-box;
    float: left;
    .exam-title {
      max-height: 100px;
      font-weight: 600;
      line-height: 25px;
      padding: 5px 0;
      margin-top: 5px;
      overflow: hidden;
      text-align: center;
      font-size: 18px;
      // white-space: nowrap;
    }
  }
  .square {
    width: 20px;
    height: 20px;
    background: #000;
    position: absolute;
  }
  .left-top {
    left: 15px;
    top: 30px;
  }
  .left-bottom {
    left: 15px;
    bottom: 30px;
  }
  .right-top {
    right: 15px;
    top: 30px;
  }
  .right-bottom {
    right: 15px;
    bottom: 30px;
  }
  .rectangle {
    background: #000;
    position: absolute;
  }
}
.A4 {
  width: 793px;
  height: 1122px;
}
.A3 {
  width: 1587px;
  height: 1122px;
}
.A4-1 {
  width: 100%;
}
.A3-2 {
  width: 50%;
}
.A3-3 {
  width: 33.33%;
}
