body {
  margin: 0;
}
#contentText {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: #fff;
  border: 1px solid #e1e1e1;
  display: none;
  cursor: pointer;
  font-size: 12px;
  width: max-content;
  box-shadow: 0px 0px 5px 0px #e1e1e1;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      width: 130px;
      height: 25px;
      line-height: 25px;
      padding: 3px 10px 3px 0;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      justify-content: start;
      img {
        margin: 0 9px;
      }
      &:not(:last-child) {
        border-bottom: 1px solid #eee;
      }
      &:hover {
        background: #eee;
      }
    }
  }
}
.secondList {
  position: absolute;
  left: 132px;
  top: 74px;
  display: none;
  width: max-content;
  font-size: 12px;
  background: #fff;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 0px 5px 0px #e1e1e1;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      width: 120px !important;
      height: 25px;
      padding: 3px 10px 3px 0;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      justify-content: start;
      &:not(:last-child) {
        border-bottom: 1px solid #eee;
      }
      &:hover {
        background: #eee;
      }
    }
  }
}
.threeList {
  position: absolute;
  left: 255px;
  top: 125px;
  border: 1px solid #e1e1e1;
  display: none;
  background: #fff;
  width: max-content;
  font-size: 12px;
  box-shadow: 0px 0px 5px 0px #e1e1e1;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      width: 110px !important;
      height: 25px;
      padding: 3px 10px 3px 0;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      justify-content: start;
      &:not(:last-child) {
        border-bottom: 1px solid #eee;
      }
      &:hover {
        background: #eee;
      }
    }
  }
}
.page {
  margin: 0 auto;
  background: #fff;
  padding: 70px 40px;
  box-sizing: border-box;
  position: relative;
  .colum {
    padding: 0 15px;
    box-sizing: border-box;
    float: left;
    position: relative;
    .exam-title {
      max-height: 100px;
      font-weight: 600;
      line-height: 25px;
      overflow: hidden;
      text-align: center;
      font-size: 18px;
    }
  }
  .square {
    width: 20px;
    height: 20px;
    background: #000;
    position: absolute;
  }
  .left-top {
    left: 15px;
    top: 30px;
  }
  .left-bottom {
    left: 15px;
    bottom: 30px;
  }
  .right-top {
    right: 15px;
    top: 30px;
  }
  .right-bottom {
    right: 15px;
    bottom: 30px;
  }
  .rectangle {
    background: #000;
    position: absolute;
  }
  .pageNum {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    margin: 0 auto 15px;
    left: 0;
    right: 0;
    text-align: center;
  }
}
.A4 {
  width: 793px;
  height: 1122px;
}
.A3 {
  width: 1587px;
  height: 1122px;
}
.A4-1 {
  width: 100%;
}
.A3-2 {
  width: 50%;
}
.A3-3 {
  width: 33.33%;
}
.boxShadow {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}
 